body
{
	background-color: #eee
}
h1
{
	font-weight: bold;
	text-align: center;
	margin-top: 0px;
	background-color: #1E90FF;
	color: white;
	font-family: monospace;
	font-size: 50px;
	top: 16px;
	border-radius: 5px;
	float: top;
}
form
{
	text-align: center;
}
input
{
	border-style: groove;
	margin-top: 0px;
	outline: none;
	font-family: Arial;

}
.search
{
	height: 25px;
	width: 200px;
	border-radius: 5px;
	border-style: groove;
}
.search:focus
{
	width: 300px;
}
nav
{
	float: right;
}
ul
{
	margin-top: 0px;
	list-style-type: none;
	font-family: Arial;
	background-color: #1E90FF;
	border-radius: 10px;
	font-size: 25px;
	width: 300px;
}
a
{
	text-decoration: none;
	color: white;
}
article
{
	font-family: Arial;
}
textarea
{
    background-color: transparent;
    resize: none;
    outline: none;
    width: 400px;
    border-radius: 5px;
}
textarea:focus
{
	background-color: white;
	-moz-box-shadow: 10px 15px 5px 3px #656565;
	-webkit-box-shadow: 10px 15px 5px 3px #656565;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15,Color='#656565', Positive='true');
	box-shadow: 10px 15px 5px 3px #656565;
	/* pour IE9 et + ce hack ci-dessous peut être fait avec le commentaire conditionnel d'IE :
	[if gte IE 9]*/
	@media only screen {#exemple{filter: none;}}
}
.zonepublis
{
	height: 150px;
	width: 500px;
	background-color: white;
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 425px;
}
.send
{
	margin-top: 50px;
	border-radius: 5px;
}
.publis
{
	background-color: white;
	border-radius: 5px;
	width: 460px;
	margin-left: 425px;
	padding-left: 20px;
	padding-right: 20px;
}